.treasureMapSection,
.rulesSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.rulesSection {
  justify-content: flex-start;
  padding: 225px 20vw 0px 30vw;
  align-items: flex-start;
}

.book {
  width: 100%;
  min-width: 600px;
}

.bgImage {
  z-index: -1;
}

.title {
  margin: 0;
  font-size: 9em;
  font-family: 'WindSong', cursive;
  margin-top: 10rem;
  color: black;
}

.bookTitle {
  color: black;
  margin: 0px 0px 25px 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'WindSong', cursive;
}

.bookDesc {
  color: black;
  font-size: 2rem;
}

@media (max-width: 1600px) {
  .title {
    font-size: 7.5em;
  }
}

@media (max-width: 1300px) {
  .title {
    font-size: 6em;
  }
}

@media (max-width: 1200px) {
  .rulesSection {
    padding: 225px 14vw 0px 28vw;
  }
}

@media (max-width: 1000px) {
  .rulesSection {
    padding: 225px 11vw 0px 25vw;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 5em;
  }
  .rulesSection {
    padding: 225px 8vw 0 18vw;
  }
  .book {
    min-width: 450px;
  }
  .bookTitle {
    font-size: 2.5em;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 4em;
  }
  .bookTitle {
    font-size: 2rem;
  }
  .rulesSection {
    padding: 225px 50px 0 50px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .code {
    background: #111;
  }
}
