.treasureMapSection,
.introSection,
.rulesSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: black;

  span {
    z-index: -1;
  }
}

.treasureMapSection {
  justify-content: flex-end;
}

.introSection {
  justify-content: flex-start;
  padding-left: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
}

.rulesSection {
  justify-content: flex-start;
  padding: 225px 22vw 0px 30vw;
  align-items: flex-start;

  h1 {
    margin-bottom: 0;
  }
}

.book {
  width: 100%;
}

.title {
  margin: 0;
  font-size: 9em;
  font-family: 'WindSong', cursive;
  margin-top: 10rem;
  color: black;
}

.secondaryTitle {
  color: black;
  margin: 0px 0px 25px 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'WindSong', cursive;
}

.introDesc {
  color: black;
  font-size: 2rem;
}

.bookDesc {
  font-size: 1.2rem;
}

@media (max-width: 1600px) {
  .title {
    font-size: 7.5em;
  }
}

@media (max-width: 1300px) {
  .title {
    font-size: 6em;
  }
}

@media (max-width: 1225px) {
  .rulesSection {
    padding: 225px 20vw 0px 28vw;
    h1 {
      font-size: 2.5rem;
    }

    .bookDesc {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1000px) {
  .rulesSection {
    padding: 225px 15vw 0px 24vw;
  }
}

@media (max-width: 900px) {
  .bookDesc {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .introSection {
    padding-left: 30%;
  }

  .title {
    font-size: 5em;
  }

  .rulesSection {
    padding: 225px 8vw 0 18vw;
  }

  .secondaryTitle {
    font-size: 2.5em;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 4em;
  }

  .introDesc {
    font-size: 1.5rem;
  }

  .secondaryTitle {
    font-size: 2.25em;
  }

  .rulesSection {
    padding: 225px 20px 0 100px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 4em;
  }

  .secondaryTitle {
    font-size: 2rem;
  }

  .rulesSection {
    padding: 225px 10px 0 50px;
  }
}

@media (max-width: 550px) {
  .rulesSection {
    padding: 225px 25px;
  }
}

@media (max-width: 500px) {
  .bookDesc {
    font-size: 1rem;
  }

  .rulesSection {
    h1 {
      font-size: 1.7rem;
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .introSection {
    padding: 50px;
  }

  .bookDesc {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .code {
    background: #111;
  }
}
