.main,
.main2,
.main3 {
  min-height: 100vh;
  padding: 0rem 0;
  display        : flex;
  justify-content: center;
  align-content  : center;
  align-items    : center;
  flex-direction: column;
}

.main{
  background-image: url(/page1.png);
  background-size: cover;
  background-position: center;
}

.main2{
  background-image: url(/page2.png);
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  padding: 225px 20vw 0px 30vw;
  align-items: flex-start;
}

.main3{  
  /* TODO: Style for Page 3 */
}

.footer {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.384);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.title {
    margin     : 0;
    line-height: 1.15;
    font-size  : 10em;
    font-family: 'WindSong', cursive;
    margin-top: 10rem;
    color: black;
  }
  .bookTitle{
    color: black;
    margin     : 0px 0px 25px 0;
    line-height: 1.15;
    font-size  : 3rem;
    font-family: 'WindSong', cursive;
  }
  .bookDesc{
    color: black;
    font-size  : 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.logo span{
  transform: scale(1);
  transition: .3s ease-out
}
.logo:hover span{
  transform: scale(1.3);
}

.madeWith{
  display: flex;
  align-content: center;
  align-items  : center;
}

.madeWith .elrondLogo{
  margin: 0px 10px;
  top: 2px;
  position: relative;
  transform: scale(1);
    transition: .3s ease-out;
}

.madeWith .elrondLogo:hover {
  transform: scale(1.3);
}

@media (max-width: 1000px) {
  .title {
    font-size  : 6em;
  }
  .main2 { 
  padding : 225px 11vw 0px 22vw;
}
}
@media (max-width: 800px) {
  .title {
    font-size  : 5em;
  }
   .bookTitle {
   font-size: 2.5em;
   margin: 0;
 }
}

@media (max-width: 600px) {
  .title {
  font-size  : 4em;
  } 
  .bookTitle {
   font-size: 2rem;
 }
 .main2 {
  padding            : 225px 50px 0 50px;
}
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}
