.treasureMapSection,
.introSection,
.rulesSection,
.casesSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: black;
  overflow: hidden;
  z-index: 1;

  span:first-of-type {
    z-index: -1;
  }
}

.treasureMapSection {
  justify-content: flex-end;
}

.introSection {
  justify-content: flex-start;
  padding-left: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
}

.rulesSection {
  justify-content: flex-start;
  padding: 200px 22vw 0px 30vw;

  h1 {
    margin-bottom: 0;
  }

  .bookDesc ul li,
  .bookDesc p {
    font-size: 1vw;
  }
}

.book {
  width: 100%;
}

.secondaryTitle {
  color: black;
  margin: 0px 0px 25px 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'WindSong', cursive;

}

.introDesc p {
  color: black;
  font-size: 1.5rem;
}

div.all-boxes {
  max-width: 1000px !important;
}


@media (max-width: 1225px) {
  .rulesSection {
    padding: 200px 20vw 0px 28vw;

    h1 {
      font-size: 2.5rem;
    }

    .bookDesc p,
    .bookDesc ul li {
      font-size: 0.9rem !important;
    }
  }

  .all-boxes {
    max-width: 1000px;
  }

}

@media (max-width: 1000px) {
  .rulesSection {
    padding: 200px 15vw 0px 24vw;
  }
}

@media (max-width: 900px) {

  .bookDesc p,
  .bookDesc ul li {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .introSection {
    padding-left: 30%;
  }

  .rulesSection {
    padding: 210px 8vw 0 18vw;
  }

  .secondaryTitle {
    font-size: 2.5em;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .introDesc {
    font-size: 1.5rem;
  }

  .secondaryTitle {
    font-size: 2.25em;
  }

  .rulesSection {
    padding: 200px 20px 0 100px;
  }

  .all-boxes .boxe {
    width: 49% !important;
    flex-basis: 49% !important;
    max-width: 49% !important;
  }
}

@media (max-width: 600px) {
  .secondaryTitle {
    font-size: 2rem;
  }

  .rulesSection {
    padding: 225px 10px 0 50px;
  }
}

@media (max-width: 550px) {
  .rulesSection {
    padding: 225px 25px;
  }
}

@media (max-width: 500px) {

  .bookDesc p,
  .bookDesc ul li {
    font-size: 1rem;
  }

  .rulesSection {
    h1 {
      font-size: 1.7rem;
      text-align: center !important;
    }
  }
}

@media (max-width: 450px) {
  .introSection {
    padding: 50px;
  }

  h1.secondaryTitle {
    text-align: center;
  }

  .bookDesc p,
  .bookDesc ul li {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .code {
    background: #111;
  }
}
